__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.ipynb_checkpoints/

.venv/
venv/
env/

.env
.env.*

mlruns/[0-9]*/
mlruns/.trash/

.DS_Store
Thumbs.db
